<div id='tuneup-data'>
  <div id='tuneup-top'>
    <div id='tuneup-summary'>
      <%= tuneup_bar(tuneup_data, :id => 'tuneup-root-bar') %>
      <%= trend %> <%= tuneup_data.time.to_i %> ms 
    </div>
    <%= link_to_remote "Upload this Run", :url => "/tuneup/upload?uri=#{CGI.escape(params[:uri])}", :html => {:id => 'tuneup-save-link'} %>
  </div>
  <div id='tuneup-schema' style='display:none;'>
    <% Fiveruns::Tuneup.schemas.each do |table, schema| %>
      <div id='tuneup-schema-table-<%= table %>' class='tuneup-schema-table' style='display:none;'>
        <h3>Schema for &ldquo;<%= table %>&rdquo;</h3>
        <table>
          <tr>
            <th>Name</th><th>Type</th>
          </tr>
          <% schema[:columns].each do |column| %>
            <tr>
              <td><%=h column[:name] %></td><td><%=h column[:sql_type] %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
  <div id='tuneup-details'>
    <ul>
      <%= render :partial => 'step', :collection => tuneup_data.children %>
    </ul>
  </div>
</div>