<div id='tuneup-data'>
  <div id='tuneup-top'>
    <div id='tuneup-summary'>
      <%= tuneup_bar(tuneup_data.children.first, :id => 'tuneup-root-bar') %>
      <%= trend %> <%= tuneup_data.time.to_i %> ms 
    </div>
    <%= link_to_upload %>
  </div>
  <%= render :partial => 'schema' %>
  <div id='tuneup-details'>
    <ul>
      <%= render :partial => 'step', :collection => tuneup_data.children %>
    </ul>
  </div>
</div>