<div id='tuneup-data'>
  <div id='tuneup-top'>
    <div id='tuneup-summary'>
      <%= tuneup_bar(tuneup_data.children.first, :id => 'tuneup-root-bar') %>
      <%= trend %> <%= tuneup_data.time.to_i %> ms 
    </div>
    <%= link_to_upload %>
  </div>
  <%= render :partial => 'schema.html.erb' %>
  <ul id="tuneup-details">
    <%= render :partial => 'step.html.erb', :collection => tuneup_data.children %>
		<li style="clear:both"></li>
		<li style="padding-top:10px;font-style:italic;float:right;font-size:0.8em;color:#ccc;">For Rails monitoring in production, try 
		  <a href="http://www.fiveruns.com/products/manage?utm_source=TuneUpBar&utm_medium=ManageURL&utm_campaign=ManageClicks" target="_blank" style="font-style:italic">FiveRuns Manage</a></li>
  </ul>
</div>