<form id='<%= dom_id(step, :sql) %>' style='display:none;'>
  <textarea cols='80' rows='<%= sql.query.split("\n").size %>'><%= sql.query %></textarea>
  <% if sql.explain %>
  <table>
    <tr>
      <% sql.explain.fields.each do |field| %>
        <th><%=h field %></th>
      <% end %>
    </tr>
    <% sql.explain.rows.each do |row| %>
      <tr>
        <% row.each_with_index do |value, index| %>
          <% if index == sql.explain.table_offset %>
            <td><%= link_to_schema value, value %></td>
          <% else %>
            <td><%=h value%></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  <% end %>
</form>
