<% content_tag_for :li, step, :class => tuneup_css_class_for_step(step) do %>
  <dl class='tuneup-step-info'>
    <dt><p><span class='time'><%= '%.2f' % step.time %> ms</span>
      <%= tuneup_step_link(step) %>
      <%= link_to_edit_step(step) %>
    </p></dt>
    <dd><%= tuneup_bar(step, :width => (280 * (step.time / tuneup_data.time))) %></dd>
  </dl>
  <%= render :partial => 'sql', :object => step.sql, :locals => {:step => step} if step.sql %>
  <% if step.children.any? %>  
    <ul id='<%= dom_id step, :children %>'<% if step.depth > 1 %> class='fiveruns_tuneup_children' <% unless open_step?(step) %>style='display:none'<% end %><% end %>>
      <%= render :partial => 'step', :collection => step.children_with_disparity %>
    </ul>
  <% end %>
<% end %>
