<% content_tag_for :li, step, :class => tuneup_css_class_for_step(step) do %>
  <ul class='tuneup-step-info'>
    <li class="tuneup-title">
			<span class='time'><%= '%.2f' % step.time %> ms</span>
      <%= tuneup_step_link(step) %>
      <%= link_to_edit_step(step) %>
		</li>
    <li class="tuneup-detail-bar"><%= tuneup_bar(step, :width => (280 * (step.time / tuneup_data.time))) %></li>
		<li style="clear:both"></li>
  </ul>
  <%= render :partial => 'sql.html.erb', :object => step.sql, :locals => {:step => step} if step.sql %>
  <% if step.children.any? %>  
    <ul id='<%= dom_id step, :children %>'<% if step.depth > 1 %> class='fiveruns_tuneup_children' <% unless open_step?(step) %>style='display:none'<% end %><% end %>>
      <%= render :partial => 'step.html.erb', :collection => step.children_with_disparity %>
    </ul>
  <% end %>
<% end %>
