<div id='fiveruns-tuneup-panel'>
  <% if tuneup_collecting? %>
    <div id='fiveruns-tuneup-data'>
      <div id='fiveruns-tuneup-summary'>
        <ul id='fiveruns-tuneup-bar'>
          <%= tuneup_bars %>
        </ul>
        <%= pluralize(tuneup_data.size, 'step') %> / <%= (tuneup_data.time * 1000).to_i %> ms
      </div>
      <div id='fiveruns-tuneup-details'>
        <ul>
          <%= render :partial => 'step', :collection => tuneup_data.children %>
        </ul>
      </div>
      <div id='fiveruns-tuneup-shade'></div>
    </div>
  <% end %>
  <%= render :partial => 'link' %>
</div>